.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 10px;

    .example-radio-button {
        margin-bottom: 16px;
    }
    
    .example-radio-button:last-child{
        margin-bottom: 0;
    }
}