<div class="w-100 mb-5">
    <mat-radio-group class="example-radio-group" aria-label="Pilih salah satu" [(ngModel)]="question.value"
        [formControl]="customFormControl" (ngModelChange)="onValueChange($event)">
        <ng-container *ngFor="let option of question.options">
            <mat-radio-button class="example-radio-button" [value]="option.value">{{ option.text }}</mat-radio-button>
        </ng-container>
    </mat-radio-group>

    <mat-error *ngIf="customFormControl.hasError('required')">
        Field ini <strong>wajib diisi</strong>.
    </mat-error>
</div>