.mat-card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.mat-line p small{
    display: block;
    font-size: 12px;
    color: #999;
}
.mat-grid-list {
    padding-bottom: 0 !important;
    position: static;
}
.mat-grid-tile {
    padding-top: 0 !important;
    position: static;
}