<mat-grid-list cols="1" gutterSize="10px" *ngIf="!isFinish">
    <ng-container *ngFor="let question of questionsList; let i = index">
        <mat-grid-tile *ngIf="question.isActive">
            <mat-card class="example-card">
                <mat-card-header class="mb-3">
                    <mat-card-title class="text-center pt-2">{{ question.question }}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="p-2">
                    <app-custom-input
                        *ngIf="question.type == 'text' || question.type == 'email' || question.type == 'number'"
                        [question]="question" (valueChange)="onValueChange(i, $event)"
                        (validChange)="onValidChange($event)"></app-custom-input>
                    <app-custom-textarea *ngIf="question.type == 'textarea'" [question]="question"
                        (valueChange)="onValueChange(i, $event)" (validChange)="onValidChange($event)">
                    </app-custom-textarea>
                    <app-custom-radio *ngIf="question.type == 'radio'" [question]="question"
                        (valueChange)="onValueChange(i, $event)" (validChange)="onValidChange($event)">
                    </app-custom-radio>

                    <div class="text-center">
                        <button mat-flat-button *ngIf="i != (questionsList.length - 1)" type="button" color="accent"
                            class="w-100" [disabled]="!isValid" (click)="next(i)">Selanjutnya</button>
                        <button mat-flat-button *ngIf="i == (questionsList.length - 1)" type="button" color="primary"
                            class="w-100" [disabled]="!isValid" (click)="save()">Simpan</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </ng-container>
</mat-grid-list>

<mat-grid-list cols="1" gutterSize="10px" *ngIf="isFinish">
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title class="text-center pt-2">Selamat, Anda telah selesai!</mat-card-title>
            </mat-card-header>
            <mat-card-content class="p-2">
                <mat-list>
                    <ng-container *ngFor="let question of questionsList; let i = index">
                        <mat-list-item>
                            <p matLine> 
                                <small>{{question.question}}</small>
                            </p>
                            <p matLine>
                                <strong>{{question.value}}</strong>
                            </p>
                        </mat-list-item>
                        <mat-divider *ngIf="i != (questionsList.length - 1)"></mat-divider>
                    </ng-container>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>