/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mb-3{
    margin-bottom: 30px;
}
.mb-5{
    margin-bottom: 50px;
}
.pt-2{
    padding-top: 20px;
}
.p-2{
    padding: 20px;
}
.w-100{
    width: 100%;
}
.text-center{
    text-align: center;
}