<mat-form-field class="w-100 mb-5">
    <mat-label>Berikan jawaban Anda</mat-label>
    <textarea matInput [placeholder]="getPlaceholder" [(ngModel)]="question.value" [formControl]="customFormControl"
        [errorStateMatcher]="matcher" (ngModelChange)="onValueChange($event)" autocapitalize="on"></textarea>
    <mat-error *ngIf="customFormControl.hasError('required')">
        Field ini <strong>wajib diisi</strong>.
    </mat-error>
    <mat-error *ngIf="customFormControl.errors?.minlength">
        Minimal Karakter <strong>1</strong>.
    </mat-error>
    <mat-error *ngIf="customFormControl.errors?.maxlength">
        Maksimal Karakter <strong>50</strong>.
    </mat-error>
</mat-form-field>